@import "../../../scss/settings/colors";

.about{
  width: 100%;
  height: 40rem;

  display: flex;
   color: map_get($colors,"darkgrey");

  .about__article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: map_get($colors,"white");
    span{
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .about__article__decorations{

      background-image: url("../../../assets/Decoration.svg");
      width: 100%;
      height: 2rem;
      margin: 1rem;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      background-size: contain;
    }
    p{
      text-align: center;
      width: 60%;
      font-size: 1.5rem;
      line-height:2.5rem;
      margin:2rem;
      color: map_get($colors,"darkgrey");

    }
    .about__article__signature{
      background-image: url("../../../assets/Signature.svg");
      width: 11rem;
      height: 11rem;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 50%;
    }


  }
  .about__peoplePhoto {
    background-image: url("../../../assets/People.jpg");
    background-repeat: no-repeat;

    background-size: cover;
    width: 50%;
  }

}


