@import "../../../../scss/settings/colors";


  .teddyBearForm__box__radio{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: 40rem;
    margin-top: 4rem;
    margin-left: 6%;
    input[type="radio"] {
      display: none;
    }
    .teddyBearForm__box__radio--items {
      display: flex;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .teddyBearForm__box__radio--items input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
           left: -2rem;
      height: 1.5625rem;
      width: 1.5625rem;
      background: none;
      border: 1px solid map_get($colors, "darkgrey");
    }
    .teddyBearForm__box__radio--items:hover input ~ .checkmark {
      background-color: map_get($colors, "yellow");
    }
    .teddyBearForm__box__radio--items input:checked ~ .checkmark {
      background-color: map_get($colors, "yellow");
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .teddyBearForm__box__radio--items input:checked ~ .checkmark:after {
      display: block;
    }
}