@import "../../../scss/settings/colors";

.contactFooter {
  height: 3rem;
  width: 50%;
  display: flex;
  justify-content: space-between;


  .copyrightText{
   }
  .logo{
    display: flex;
    margin-right:30%;

  .facebook{

    background: url("../../../assets/assets/Facebook.svg") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: contain;

  }
  .instagram {
    background: url("../../../assets/assets/Instagram.svg") no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    margin-left: 1rem;
   }
  }
}