@import "../../scss/settings/colors";

nav {

  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .login {
    list-style-type: none;
    display: flex;
    margin: 2rem 0;
    justify-content: flex-end;
    li {
      margin-left: 2rem;
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: map_get($colors,"grey");
      font-size: 0.7rem;
    }

  }
  .menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    li {
      margin-left: 2rem;
      cursor: pointer;
    }
    a{
      text-decoration: none;
      color: map_get($colors,"grey");
      font-size: 0.85rem;
    }
  }
}
.nav{
  width: 100%;
}
