@import "../../../scss/settings/colors";


.headerAfterLogin {
  color: map_get($colors, "darkgrey");
  height: 52rem;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;

  .headerAfterLogin__backgroundPhoto{
    background-image: url("../../../assets/Form-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100%;
    width: 50%;
    margin-right: 0;


  }
  .headerAfterLogin__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }


  .headerAfterLogin__main__decorations {
    background-image: url("../../../assets/Decoration.svg");
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

  }


  .headerAfterLogin__main__article {
      font-size: 2rem;
      text-align: center;
      margin: 7rem 5rem 2rem 0;

    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      font-size: 1.8rem;
      color: map_get($colors, "darkgrey");


    }

    .headerAfterLogin__main__square{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;

      .headerAfterLogin__main__square--item {
        color: map_get($colors, "darkgrey");
        display: flex;
        align-items: center;
        width: 8rem;
        height: 8rem;
        position: relative;
        border: 1px solid map_get($colors, "darkgrey");
        transform: rotate(45deg);
        margin-left: 1rem;
        justify-content: center;
        align-items: center;


        span, p {
          text-align: center;
          font-size: 1.2rem;
          transform: rotate(-45deg);


        }

        span {
          font-size: 1.8rem;
          margin-bottom: 5rem;
        }

      }
    }
  }




